- comment = comment.nil? ? @comment : comment 
.comment  
  .faded 
    %span.arrow
      = link_to image_tag("arrow-blue.png"), vote_path(:comment_id => comment.id) unless current_user && current_user.voted_for?(comment)
    /= comment.karma
    = I18n.t('posts.points')
    = I18n.t('comments.submitted_by')
    = link_to comment.user.login, user_path(comment.user)
    = I18n.t('posts.posted_on')
    %span.relative_post_date
      = comment.created_at.to_formatted_s(:rfc822)
    = I18n.t('comments.since')
    |
    = link_to I18n.t('comments.link'), post_comment_path(comment.post, comment)
    - if request.url != post_url(comment.post)
      | 
      = link_to I18n.t('comments.parent'), post_path(comment.post)
    - if current_user.admin?
      |
      = link_to "Delete", comment_path(comment), :method => :delete, :confirm => I18n.t("comments.delete_confirmation")
    
  = comment.body
%br  