= form_for @comment do |f|
  
  - if @comment.errors.any?
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg        
        
  %div
    = f.label :body
    %br
    = f.text_field :body
  %div  
    = f.submit 'Submit', :disable_with => "Please wait..."
