= form_for @comment, :url => post_comments_path(@post)  do |f|
  
  - if @comment.errors.any?
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg        
  %br   
  %div
    = f.text_area :body, {:cols => "90", :rows => "10"}
  = render 'layouts/spammer_check'
  %div  
    = f.submit I18n.t('comments.add_comment')
