= form_for @user do |f|
  
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg        
        
  %div
    = f.label :email
    %br
    = f.text_field :email
  %div
    = f.label :change_password
    %br
    = f.password_field :password
  %div
    = f.label :about
    %br
    = f.text_area :about, {:cols => "90", :rows => "10"}
  %div  
    = f.submit 'Save', :disable_with => "Please wait..."
