= form_for @user do |f|
  
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg        
        
  %div
    = f.label :email
    %br
    = f.text_field :email
  %div
    = f.label :change_password, I18n.t('users.new_password')
    %br
    = f.password_field :password
  %div
    = f.label :about, I18n.t('users.about')
    %br
    = f.text_area :about, {:cols => "90", :rows => "10"}
  %div  
    = f.submit I18n.t('users.save'), :disable_with => t("common.button_disable_with")
