= form_for @user do |f|
  
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg        
        
  %div
    = f.label :login, I18n.t('users.login')
    %br
    = f.text_field :login
  %div
    = f.label :email
    %br
    = f.text_field :email
  %div
    = f.label :password, I18n.t('users.password')
    %br
    = f.password_field :password
  %div  
    = f.submit I18n.t('users.register')
