%h1
  = @user.login
%p
  = "#{I18n.t('users.created')}: #{@user.created_at.to_formatted_s(:short_ordinal)}"
  %br
  = "#{I18n.t('users.login_count')}: #{@user.login_count}"
  %br
  = link_to "#{I18n.t('users.posts')} (#{@user.posts.count})", user_posts_path(@user)
  %br
  = link_to "#{I18n.t('users.comments')} (#{@user.comments.count})", user_comments_path(@user)

%br   
- if @user == current_user
  = render 'edit_form'