= form_for @post do |f|
  
  - if @post.errors.any?
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg        
        
  %div
    = f.label :title, I18n.t('posts.title')
    %br
    = f.text_field :title
  %div
    = f.label :url
    %br
    = f.text_field :url
  %div
    = f.label :body, I18n.t('posts.content')
    %br
    = f.text_area :body, {:cols => "90", :rows => "10"}
  %div  
    = f.submit I18n.t('posts.submit')
