.post
  %span.counter.faded
    = "#{post_counter+1}."
  %span.arrow
    = link_to image_tag("arrow-blue.png"), vote_path(:post_id => post.id) unless current_user && current_user.voted_for?(post)
  %h3
    %strong
      = link_to post.title, post_link_path(post)
    %span.faded
      = "#{post_link_text(post)}"
  %p.mini
    = post.user.karma + post.karma
    = I18n.t('posts.points')
    = I18n.t('posts.submitted_by')
    = link_to post.user.login, user_path(post.user)
    = I18n.t('posts.posted_on')
    %span.relative_post_date
      = post.created_at.to_formatted_s(:rfc822)
    = I18n.t('posts.since')  
    —
    = link_to pluralize(post.comments.count, I18n.t('posts.comment')), post_path(post)
