.post
  %h3
    = post.id
    = link_to "↑", ""
    %strong
      = link_to post.title, post_link_path(post)
    = "#{post_link_text(post)}"
  %p.mini
    submetido por
    = link_to post.user.login, user_path(post.user)
    há
    %span.relative_post_date
      = post.created_at.to_formatted_s(:rfc822)
    atrás —
    %a{:href => "#"} #commentcount# comentários
