.post
  %h3
    %span.no_hover
      = link_to image_tag("arrow-blue.png"), ""
    %strong
      = link_to @post.title, post_link_path(@post)
    %span.faded
      = "#{post_link_text(@post)}"
  %p.mini
    = I18n.t('posts.submitted_by')
    = link_to @post.user.login, user_path(@post.user)
    = I18n.t('posts.posted_on')
    %span.relative_post_date
      = @post.created_at.to_formatted_s(:rfc822)
    = I18n.t('posts.since')
    —
    = link_to "#{@post.comments.count} comentários", post_path(@post)

- if @post.body
  %p
    = @post.body

= render "comments/form"
    
- if @post.comments.count > 0
  = render "post_comments"