%h1
  = @post.title

- if @post.body
  %p
    = @post.body

= render "comments/form"
    
- if @post.comments
  .comment
    %h2 Comments    
    - @post.comments.each do |comment|
      = comment.body
      = comment.user.login