%a{:href => "/"}
  %img{:src => "/images/logo-mini.png", :style => "float: left; padding-right: 6px;"}
%p
  = link_to "Mais Recentes", root_path 
  |
  = link_to "Perguntas", root_path
  |
  %strong 
    = link_to "ENVIAR NOTÃCIA", root_path
  %span{:style => "float:right;"}
    - if current_user
      = link_to "Edit Profile", edit_user_path(:current)
      |
      = link_to "Logout", logout_path 
    - else
      = link_to "Register", register_path 
      |
      = link_to "Login", login_path