%a{:href => "/"}
  %img{:src => "/images/logo-mini.png", :style => "float: left; padding-right: 10px;"}
%p
  = link_to "Mais Populares", root_path 
  |
  = link_to "Recentes", root_path 
  |
  %strong 
    = link_to "ENVIAR NOTÃCIA", new_post_path
  %span{:style => "float:right;"}
    - if current_user
      = link_to "Edit Profile", user_path(current_user)
      |
      = link_to "Logout", logout_path 
    - else
      = link_to "Register", register_path 
      |
      = link_to "Login", login_path