%a{:href => "/"}
  %img{:src => "/images/logo-mini.png", :style => "float: left; padding-right: 10px;"}
%p
  = link_to I18n.t('layouts.most_popular'), root_path 
  |
  = link_to I18n.t('layouts.recent'), root_path(:order => "latest") 
  |
  %strong 
    = link_to I18n.t('layouts.submit_news'), new_post_path
  %span{:style => "float:right;"}
    - if current_user
      = link_to "#{I18n.t('layouts.edit_profile')} (#{current_user.login})", user_path(current_user)
      |
      = link_to I18n.t('layouts.logout'), logout_path 
    - else
      = link_to I18n.t('layouts.register'), register_path 
      |
      = link_to I18n.t('layouts.login'), login_path