!!! 5
%html
  %head
    %title VinteNews
    = stylesheet_link_tag :all
    = stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    = javascript_include_tag "rails.js","application.js"
    = csrf_meta_tag
  %body
    #container
      #content
        #header
          = render :partial => "layouts/header"
        = yield 
