!!! 5
%html
  %head
    %title VinteNews
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}/
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery.min.js", "date.extensions.js", "application.js"
    = csrf_meta_tag
  %body
    #container
      #content
        #header
          = render :partial => "layouts/header"
        #main-content
          - flash.each do |k,v|
            %p{:class => k}= v
            
          = yield
        #footer
          %p
            = link_to "Sobre este site", about_url
            |
            = link_to "Twitter", "http://twitter.com/vintenews"
            |
            = link_to "RSS", "#"
